.card{
  background-color: #8da1b9;
  text-align: center;
}
.projectName{
  font-size: 26px;
  height: 10%
}
.sShot{
  height: 300px;
}
.projectDesc{
  height: 10%;
}
.Button{
  font-family: 'Roboto Slab', serif;
  font-size: large;
  background-color:#524c4c;
  color: #14b1ff;
  width: 50%;
}
.linkButton{
  float: 'left'
}
.detailButton{
  float: right
}


