.card{
  background-color: #8da1b9
}
.projectName{
  font-size: 26px;
}
.sShot{
  height: 180px
}
.projectDesc{
  height: 41%
}
.linkButton{
  font-family: 'Roboto Slab', serif;
  float: left;
  font-size: large;
  background-color:#524c4c;
  color: #14b1ff;
}

