.centerText{
  text-align: center;
  padding-right: 10px;
  margin:auto
}
@media (max-width: 1050) {
  .menuDiv{
    text-align: left;
    padding-left: 5px;
    padding-top: 4px;
    margin: auto;
    display: none
  }
}
@media (min-width: 1050px) {
  .menuDiv{
    text-align: left;
    padding-left: 5px;
    padding-top: 4px;
    margin: auto;
  }
  .centerText{
    text-align: right;
    padding-right: 10px;
    margin:auto
  }
}