.footer{
  position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
  background-color: #899e9f;
  color: #20293b;
  border-radius: 5px;
  text-align: center;
}
.footerIcon{
  color: #20293b;
  font-size: x-large;
}
.contactMe{
  font-size: larger;
}
.footerButton{
  background-color: #899e9f;
  color: #20293b;
  border-color: #899e9f;
}
.footerButton:hover{
  background-color: #899e9f;
  border-color: #899e9f;
}
.footerButton:focus{
  background-color: #20293b;
  border-color: none;
  box-shadow: none
}