.checked {
  color: orange;
}
.item{
  padding: 15px;
  font-size: 25px
}
.listHeader{
  margin: 25px;
}
.header{
  border-bottom-style: solid;
  border-color: black;
  border-width: 4px;
  margin: 0px;
  padding: 5px
}
.techItem{
  padding: 25px;
  font-size: 25px;
}
.fa-star{
  padding: 5px;
  border-width: 2px;
  border-color: black;
  float: right
}
.languages{
  width: 20%;
  background-color: #8da1b99d;
}
.technologies{
  width: 20%;
  background-color: #8da1b99d;
}
.asAPerson{
  width: 20%;
  background-color: #8da1b99d;
}
